.landing-page-jumbo{
    background-color: #F18c00;
    padding: 100px;
    border-radius: 25px;
}
.landing-page-jumbo-btn{
    background-color: #ffb753;
}

.landingpage-session-two{

}
.landing-page-sesssion-two-main-card{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* x-offset, y-offset, blur-radius, color */
    transition: box-shadow 0.3s ease;
}
.landingpage-card-row-one{
    justify-content: space-evenly;
}
.landingpage-card-row-two{
    justify-content: space-evenly;
  
}

.landing-page-card-header{
   background: white;
}


.landing-page-card {
    transition: transform 0.3s ease;
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* x-offset, y-offset, blur-radius, color */
    transition: box-shadow 0.3s ease;
  }

  .landing-page-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }