.contributors-log-left {
    width: 50%;
}

.contributors-log-right {
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contributors-log-page-jumbo {
    background-color: #F18c00;
    padding: 100px;
    border-radius: 25px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contributors-log-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.contributors-log-right-form-data {
    width: 70%;
}

.contributors-log-right-head {
    color: #ffb753;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.contributors-log-right-link {
    text-decoration: none;
}

@media (width <= 768px) {
    .contributors-log-left {
        display: none;
    }

    .contributors-log-right {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
