.contributor-reset-password{
    border-radius: 24px;
background: var(--main-Color, #F18C00);

/* buttons drop shadow */
box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.contributor-reset-password-head{
    color: #000;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.contributor-reset-pass-container{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 70vh;
}