.maintainer-manage-proj-sec-one {
    height: 206px;
    flex-shrink: 0;
    border-radius: 17px;
    background: var(--main-Color, #F18C00);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}

.maintainer-manage-proj-sec-one-para {
    color: #FFF;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.maintainer-manage-proj-sec-one-paraone {
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.maintainer-manage-proj-sec-two {
    width: 90%;
}

.maintainer-manage-proj-sec-three {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 60px;
}

/* .table-container {
    width: 85%;
    max-width: 1000px;
} */

.table th,
.table td {
    vertical-align: middle;
}

.table select {
    width: 100%;
}

.maintainers-manage-proj-sec-between{
    width: 500px;
    margin-left: 50px;
    margin-top: 50px;
}

.maintainers-manage-proj-sec-between-hr{
    height: 1px; 
    background-color: black;
}
