

.maintainers-log-left{
    width: 50%;
}
.maintainers-log-right{
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maintainers-log-page-jumbo{
    background-color: #F18c00;
    padding: 100px;
    border-radius: 25px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.maintainers-log-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.maintainers-log-right-form-data{
    width: 70%;
}

.maintainers-log-right-head{
    color: #ffb753;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.maintainers-log-right-link{
    text-decoration: none;
}

@media (width <= 768px){
    .maintainers-log-left{
        display: none;
    }
    .maintainers-log-right{
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}